@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

body{
    margin: 0;
    background-color: #f1faee;
}

.svg-container{
    border: rgb(126, 126, 126) solid 1.5px;
    
}

.js-plotly-plot{
    margin: 10px;
}

.upper-part{
    display: flex;
}

.grand_img{
    width: 550px;
    height: 700px;
    margin-right: 40px;
    margin-top: 22px;
}

.story-output{
    font-family: "Poetsen One", sans-serif;
    font-size: 20pt;
    height: 140px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1.5px solid rgb(126, 126, 126);
    border-radius: 7px;
    background-color: rgba(126, 126, 126, 0.192);
}

.recipe_btn{
    height: 70px;
    width: 120px;
    position: fixed;
    bottom: 15px;
    right: 20px;
    background-image: url('https://i.ibb.co/Jx2bVrG/Readtherecipe.png');
    background-size: 100% 100%; 
}

.go_back_btn{
    height: 70px;
    width: 120px;
    position: fixed;
    bottom: 15px;
    right: 20px;
    background-image: url('https://i.ibb.co/7WRcVvJ/Goback.png');
    background-size: 100% 100%; 
}